$pink: #E42546;
$blue: #25336B;

.large-paragraph {
  @include govuk-font($size: 19, $weight: bold);
  margin: govuk-spacing(6) 0 govuk-spacing(1);

  @include govuk-media-query($from: tablet) {
    margin: 0;
  }
}

.landing-page__header {
  padding-bottom: govuk-spacing(6);
  background: asset-url("brexit-header.gif") no-repeat 50% 50% / auto 100%;

  .gem-c-breadcrumbs {
    margin-top: 0;
    padding-top: govuk-spacing(3);
  }
}

.landing-page__header-inner {
  padding: govuk-spacing(9) 0 govuk-spacing(7) 0;

  @include govuk-media-query($from: tablet) {
    padding: 0;
  }
}

.landing-page__lead-paragraph-wrapper {
  max-width: 80%;

  @include govuk-media-query($from: tablet) {
    max-width: none;
  }
}

$ready-grey: #f1f2f3;
$share-grey: #e8eaec;

.landing-page__ready {
  padding: govuk-spacing(8) 0;
  background-color: $ready-grey;

  .gem-c-button {
    background-color: $pink;
  }

  .gem-c-button:hover {
    background-color: $blue;
  }
}

.landing-page__share {
  padding: govuk-spacing(6) 0 govuk-spacing(4) 0;
  background-color: $share-grey;

  .gem-c-share-links__list-item {
    min-width: 160px;
  }
}

.landing-page__section em {
  font-weight: bold;
  font-style: normal;
}

.landing-page__title-wrapper {
  display: block;
  margin-bottom: govuk-spacing(4);
  background-color: $pink;
  padding: govuk-spacing(2);
  background-image: asset-url('chevron.svg');
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-origin: content-box;
  text-decoration: none;

  &:hover {
    background-color: $blue;
  }
}

.landing-page__title {
  width: 80%;
  padding: govuk-spacing(3);
  color: govuk-colour('white');
  text-decoration: underline;
}

.landing-page__title-wrapper:focus .landing-page__title {
  color: govuk-colour('black');
}

.landing-page__title-wrapper:link,
.landing-page__title-wrapper:visited,
.landing-page__title-wrapper:hover,
.landing-page__title-wrapper:hover:focus .landing-page__title {
  color: govuk-colour('white');
}

.landing-page__section-desc {
  margin-bottom: govuk-spacing(6);
}

.landing-page__buckets {
  padding-top: govuk-spacing(6);
  margin-bottom: govuk-spacing(6);
}

.landing-page__section {
  margin-bottom: govuk-spacing(8);
}

.landing-page__email-wrapper {
  margin-bottom: govuk-spacing(7);
}
