<%= render "govuk_publishing_components/components/heading", {
  text: travel_heading,
  font_size: "m",
  margin_bottom: 3
} %>
<p class="govuk-body govuk-!-margin-bottom-9">
  <%= sanitize(t("coronavirus_local_restrictions.results.travel_text")) %>
</p>
