<% if role.organisations %>
  <div class="organisations-list" <%= @dir_att %> <%= @lang_att %>">
    Organisations:
    <%= role.organisations.map { |organisation| link_to(organisation['title'], organisation['base_path']) }.to_sentence.html_safe %>
  </div>
<% end %>
